.messengerPage {
	display: flex;
	flex-direction: column;
	max-width: 800px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.title {
	font-size: 14px;
	font-weight: 500;
}

.titleWithMargin {
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 12px;
}
