.pair {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.img {
	aspect-ratio: 81 / 105;
	min-width: 81px;
	max-width: 162px;
	height: auto;
	border-radius: 16px;
	margin-bottom: 0;
}

.nameAndAge {
	display: flex;
	justify-content: center;
	gap: 2px;
}

@media (max-width: 768px) {
	.img {
		max-width: 140px;
	}
}
