.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  cursor: pointer;
}

.iconAndTitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalInner {
  width: 70%;
  padding: 16px;
}

.title {
  font-size: 16px;
  margin-left: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalContainer {
  background-color: white;
  width: 80%;
  height: 80%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* .continueButton {
  /* add styles for the continue button 
 } */