.item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	padding: 6px 24px 6px 6px;
	border-radius: 30px;
	background-color: var(--theme-list-item-background-color);
}

.iconAndTitleContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.iconWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 36px;
	border-radius: 18px;
	background-color: var(--theme-background-color);
}

.modalInner {
	width: 70%;
	padding: 16px;
}

.title {
	font-size: 16px;
	margin-left: 10px;
	color: var(--theme-accent-color);
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
}

.modalContainer {
	background-color: white;
	width: 80%;
	height: 80%;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* .continueButton {
  /* add styles for the continue button 
 } */
