.placesHeader {
	display: flex;
	gap: 10px;
}

.filterButton {
	display: flex;
	border-radius: 50%;
	padding: 10px;
	justify-content: center;
	align-items: center;
}

h3 {
	font-size: 16px;
	font-weight: 400;
	margin: 16px 0 8px;
}
