.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 16px;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.recipient {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0;
	background-color: unset;
	transition: 0.3s;
}

.recipient:hover {
	cursor: pointer;
	opacity: 0.7;
	background-color: unset;
}

.recipientInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}

.recipientInfo div {
	display: flex;
	gap: 3px;
}

.name,
.age {
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
}

.online {
	font-size: 10px;
	font-weight: 400;
	line-height: 12px;
}

.avatar {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
}
