.homePage {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin: 0 auto;
}

.actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	width: fit-content;
	margin: 0 auto;
}
