.TitleAndInputContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.warning {
	font-size: 14px;
	line-height: 17px;
	font-weight: 500;
	margin-bottom: 12px;
}

.ProfileImageUploaderContainer {
	display: flex;
	flex-direction: row;
	gap: 8px;
	overflow-x: auto;
	scrollbar-width: none;
}
