.labelWrapper {
	display: flex;
	cursor: pointer;
	width: 134px;
	height: 175px;
}

.input {
	display: none;
}

.imagePreview {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 134px;
	min-height: 175px;
	width: 134px;
	height: 175px;
	object-fit: cover;
	border-radius: 12px;
	margin-bottom: 12px;
}

.uploadButton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 134px;
	height: 175px;
	border-radius: 26px;
	cursor: pointer;
}

.uploadButton:hover {
	transition: 0.3s;
	opacity: 0.7;
}
