.container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	transition: 0.2s;
}

.container:hover {
	opacity: 0.7;
}

.container {
	cursor: pointer;
}

.label {
	font-size: 16px;
	cursor: pointer;
}
