.header {
	display: flex;
	align-items: center;
    justify-content: center;
	padding: 10px 16px;
	max-width: 800px;
	width: 100vw;
	margin: 0 auto;
}

.name {
	display: flex;
	flex-direction: column;
	align-items: center;
}
