.message {
	display: flex;
	align-items: flex-end;
	cursor: pointer;
	position: relative;
}

.sender {
	flex-direction: row-reverse;
	margin-left: auto;
	align-self: flex-end;
	max-width: calc(100% - 45px);
}

.recipient {
	margin-right: auto;
	align-self: flex-start;
}

.messageContent {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: auto;
	padding: 10px 12px;
	border-radius: 19px;
}

.replyToMessage {
	display: flex;

	margin-bottom: 8px;
	border-radius: 4px;
}

.replyToMessageText {
	font-size: 12px;
	font-weight: 500;
	line-height: 19px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	line-clamp: 1;
	-webkit-box-orient: vertical;
	margin-left: 6px;
}

.avatar {
	width: 37px;
	height: 37px;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	border-radius: 50%;
	margin-right: 8px;
}

.messageText {
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	word-break: break-word;
	hyphens: auto;
}

.time {
	font-size: 10px;
	font-weight: 400;
	line-height: 12px;
	margin-left: 8px;
	margin-right: 3px;
}

.statusWrapper {
	display: flex;
	align-items: flex-end;
	padding-bottom: 3px;
}
