.container {
	display: flex;
	flex-direction: column;
	margin-bottom: 12px;
}

.labelAndValue {
	display: flex;
	justify-content: space-between;
	padding: 0 2px 12px;
}

.label {
	font-size: 16px;
	font-weight: bold;
}

.value {
	font-size: 16px;
}

.sliderWrapper {
	padding: 0 14px;
}
