.wrapper {
	position: relative;
}

.banner {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 31px 34px;
	border-radius: 15px;
	margin-bottom: 20px;
}

.basic {
	background: linear-gradient(
		to right,
		rgba(255, 248, 248, 0) -200%,
		rgb(244, 205, 118) -150%,
		rgb(255, 98, 126) 100%
	);
}

.advanced {
	background: linear-gradient(
		to right,
		rgba(12, 216, 229, 0.86) 0%,
		rgb(120, 140, 239) 100%
	);
}

.title {
	font-size: 24px;
	line-height: 29px;
	font-weight: 600;
	margin: 0;
}

.subtitle {
	font-size: 12px;
	font-weight: 400;
}

.icon {
	position: absolute;
	bottom: 20px;
	right: 0;
}
