.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 60px;
	height: 60px;
	padding: 10px 16px;
}

.linksWrapper {
	display: flex;
	gap: 11px;
}

.link {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}
