.myProfilePage {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-height: 520px;
	height: 100%;
}

.userCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 16px;
}

.avatar {
	width: 125px;
	height: 121px;
	border-radius: 50%;
	object-fit: cover;
	margin-bottom: 11px;
}

.nameAndAge {
	display: flex;
	align-items: center;
	gap: 4px;
	font-size: 24px;
	line-height: 29px;
	font-weight: 600;
	text-align: center;
}

.powerUpButtons {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 16px;
	margin-bottom: 18px;
}
