.wrapper {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	max-width: 100%;
	overflow: hidden;
	overflow-x: hidden;

	padding: var(--safe-area-inset-top) var(--safe-area-inset-right)
		calc(var(--safe-area-inset-bottom) / 2) var(--safe-area-inset-left);
}
