* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--theme-text-color);
  background-color: var(--theme-background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

.secondary-text {
  color: var(--theme-secondary-text-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

stop.svg-grad-start-color {
  stop-color: var(--theme-icon-linear-gradient-stop-1);
}

stop.svg-grad-end-color {
  stop-color: var(--theme-icon-linear-gradient-stop-2);
}

img {
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--theme-button-background-color);
  cursor: pointer;
  transition: 0.25s;
  color: var(--theme-button-text-color);
}
button:hover {
  background-color: var(--theme-button-selected-background-color);
  color: var(--theme-button-selected-text-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}