.tabs {
	display: flex;
	gap: 7px;
	overflow-x: auto;
	overflow-y: hidden;
	scrollbar-width: none;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

.tabs::-webkit-scrollbar {
	display: none;
}

.tab {
	font-size: 14px;
	font-weight: 500;
	line-height: 17px;
	border-radius: 30px;
	padding: 7.5px 14px;
	white-space: nowrap;
}

.tab:hover {
	opacity: 0.8;
}

.titledPlacesList {
	display: flex;
	flex-direction: column;
}
