.tabs {
	display: flex;
	gap: 10px;
	list-style-type: none;
	max-width: 570px;
	width: 100%;
	overflow-x: auto;
	scrollbar-width: none;
}

.tab {
	font-size: 14px;
	font-weight: 500;
	line-height: 17px;
	border-radius: 30px;
	padding: 7.5px 14px;
}

.tab:hover {
	opacity: 0.8;
}

.titledPlacesList {
	display: flex;
	flex-direction: column;
}
