.messagesList {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0 16px 0;
	scrollbar-width: none;
}

.noMessages {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: calc(100% - 62.33px);
}

.iconWrapper {
	margin-bottom: 6px;
}

.noMessagesText {
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
}
