.img {
	margin-bottom: 10px;
}

.nameAndAgeContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
}

.nameAndAgeContainer p {
	color: var(--theme-accent-color);
}

.name,
.age {
	font-size: 24px;
	font-weight: 600;
	line-height: 29px;
}

.mainInfoContainer {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.mainInfoContainer p {
	font-size: 16px;
	line-height: 19px;
}

.search,
.about {
	color: var(--theme-accent-color);
}

.about {
	margin-bottom: 10px;
}

h3 {
	font-size: 16px;
	font-weight: 500;
}
